@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
::-webkit-scrollbar{
    display: none;
}


body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Arimo', sans-serif;
}

#ctn{
    background-color: #FEFEFA;
    width: 90%;
    border-radius: 40px;

    padding-bottom: 30px;
    

    display: flex;
    flex-direction: column;

    #pos-text{
        margin: 10px;
        padding: 40px;
        padding-bottom: 20px;
        font-size: 32pt;
        text-align: center;

        #node-text{
            font-weight: bold;
        }   
    }

    #input-ctn{
        display: flex;
        flex-direction: column;
        padding:35px;
        padding-top: 0;

        #text-1{
            font-weight: bold;
            font-size: 10pt;
            margin-left: 5px;
            margin-bottom: 10px;
        }
        form{
            display: flex;
            flex-direction: column;

            #destination{
                padding: 5px;
                width: 100%;
                border: 2px solid black;
                border-radius: 5px;
                box-sizing: border-box;
                margin:5px;
            }
    
            button{
                width: 50%;
                margin: 5px;
                padding: 10px;
                align-self: center;

                background-color: black;
                color: #FEFEFA;
                border: none;
                border-radius: 5px;

                font-weight: bold;
            }
        }   
    }
}

#result-ctn{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    
    #current-node-ctn{
        display:flex;
        flex-direction: column;
        align-items: center;

        margin: 30px;
        padding: 30px;
        background-color: black;
        color:#FEFEFA;

        border-radius: 20pt;
        
        #text-1{
            font-size: 10pt;
        }

        #text-2{
            margin-top:5px;
            font-size: 36pt;
            font-weight: bold;
        }
    }

    #destination-node-ctn{
        display:flex;
        flex-direction: column;
        align-items: center;

        margin: 30px;
        margin-top: 100px;
        padding: 30px;
        background-color: black;
        color:#FEFEFA;

        border-radius: 20pt;
        
        #text-1{
            font-size: 10pt;
        }

        #node-out{
            margin-top:5px;
            font-size: 36pt;
            font-weight: bold;
        }
    }
}

.hide{
    display: none;
}

.compass {
  position: relative;
  width: 260px;
  height: 260px;
  margin: 20px auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 40px;
  overflow: hidden;
}

.compass .disc {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 200;
    background-image:url(compass.svg)  ;
    width: 260px;
    height: 260px;
    background-size: 100%;
}

.compass .arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background-image: url(needle.svg);

  width: 260px;
  height: 260px;
  background-size: 100%;
}